/* ================= NAVBAR ================= */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 6%;
    background:#fff;

    box-shadow:0 6px 20px rgba(0,0,0,.08);
}

.logo-area h2{
    margin:0;
    color:#15803d;
    font-size:28px;
}

.logo-area p{
    margin:2px 0 0;
    color:#666;
    font-size:13px;
}

.nav-links{
    display:flex;
    gap:18px;
}

.nav-links button{
    border:none;
    background:none;
    cursor:pointer;

    padding:10px 18px;
    border-radius:30px;

    font-size:16px;
    font-weight:600;

    transition:.3s;
}

.nav-links button:hover{

    background:#16a34a;
    color:#fff;

    box-shadow:0 8px 18px rgba(22,163,74,.25);
}

.nav-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.cart-btn{

    border:none;
    cursor:pointer;

    padding:12px 22px;

    border-radius:30px;

    background:#16a34a;
    color:#fff;

    font-weight:600;
}

.menu-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.28);

    backdrop-filter:blur(2px);

    z-index:9998;

}

.mobile-menu.open{

    left:0;
}



.mobile-menu button{

    border:none;

    background:none;

    text-align:left;

    padding:15px;

    cursor:pointer;

    font-size:18px;

    border-radius:12px;

    transition:.3s;
}

.mobile-menu button:hover{

    background:#166534;

    color:white;

    transform:translateX(6px);

}

/* ================= MOBILE ================= */

@media(max-width:768px){

    .nav-links{

        display:none;
    }

    .menu-btn{

        display:block;
    }

    .logo-area p{

        display:none;
    }

    .logo-area h2{

        font-size:22px;
    }

    .cart-btn{

        padding:10px 16px;
    }

}